.cat-info {
  display: flex;
  padding: 15px;
}

.cat-info img {
  display: block;
  width: 500px;
  object-fit: contain;
  margin-right: 20px;
}

.cat-info h2,
p {
  margin: 0;
  margin-bottom: 15px;
}

.cat-info p > span {
  font-weight: bold;
}
.infobox {
  width: 600px;
}

.breed-select {
  margin-left: 15px;
}

.hide {
  display: none;
}
